@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';


body {
    
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: url("https://images.unsplash.com/photo-1607613009820-a29f7bb81c04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80");
  
}

#success-message {
    color: green
}

#error-message {
    color: red
}

.box {
    align-items: center;
    background-color: rgb(112, 48, 48);
    border: 1px solid rgb(144, 104, 50);
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 0px rgba(89, 87, 87, 0.75);
}

#tictactoes {
    color: rgb(239, 236, 14)
}

.tictac-hero {
    max-width: 70px;
    max-height: 60px;
}

div.cell>.tictac-hero {
    max-width: 100%;
    max-height: 100%;
}

#header-tictac,
#header-toes {
    max-width: 150px;
    max-height: 85px;
}


.alt-color {
    background-color: rgb(139, 189, 208);
}

.divider {
    width: 15px;
    height: auto;
    display: inline-block;
}

.btn {
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 5px 8px 5px 0px rgba(51, 49, 49, 0.75);
}

h3,
button,
#sign-in-message,
#sign-out-message,
#sign-up-message {
font-family: 'Roboto',
sans-serif;
}


.hide {
    display: none
}
